<p class='port-caption'> 
  Clocker is the tool I wish existed during my time in the nonprofit world. This time-keeping app enables organizations to track and analyze project-related human resource allocation. Use it to track volunteerism for multiple grant initiatives, client participation in various programs, or employee hours spent on different tasks. Get rid of those trusty time sheets and sign-in clipboards!
</p>
<p>
  Built using JavaScript, AngularJS, Bootstrap, Firebase, and deployed via Digital Ocean.
</p>
<p>
  Click the links above to test it out and/or view the Github repository.
</p>
