<div class='port-caption'>
  <p> 
    Clocker-Mobile is designed to be used in tandem with the Clocker web app, enabling users to sign in remotely to clocker via their smartphone.

    I used the Ionic framework, which allowed me to the use JavaScript and Angular to build an app that will run natively on an iPhone or Android device (currently only tested on ios, however).

    I also used WebSockets to enable real-time communication between the Clocker Mobile app and the Clocker 2.0 wep app.
  </p>
  <p>
    <strong class="underline">Important Note:</strong>
    <!-- <br> -->
    Currently, an organization must be logged in to the clocker web app in order to accept remote sign-ins from the clocker-mobile app. Upcoming versions, however, will support remote sign-in even if the parent organization is not logged in.
  </p>
  <p>
    Clocker-mobile is designed to run natively on your smartphone. For demoing purposes, however, please visit clocker-mobile.com to try out the app.
  </p>
</div>
