
<ul id="dev-portfolio-container">
  <li class='item-container effect-bubba' ng-mouseover="showClockerCaption()" ng-mouseleave="hideCaption()">
    <div class='outer'>
       <div id='clocker' class='inner'>
          <figcaption>
            <div class="clock center wrap">
              <div class="timer"></div>
            </div>
            <img id="clocker-title" src="./lib/images/ClockerTitle-3-path-white.svg">
          </figcaption>
       </div>
        <a href="https://github.com/NathanBaldwin/clocker-2.0" target="_blank">
          <img class='github-img link' src="./lib/images/GitHub-Mark-120px-plus.png">
        </a>
        <a href="http://www.clockeronline.com" target="_blank">
          <img class='website-link-img link' src="./lib/images/Clocker-Title-4-Black.svg">
        </a>
    </div>
  </li>
  <li id='clocker-mobile' class='item-container effect-bubba' ng-mouseover="showClockerMobileCaption()" ng-mouseleave="hideCaption()">
    <div class='outer'>
       <div id='next-item' class='inner'>
          <figcaption>
            <img id='clocker-mobile-title' src="./lib/images/Clocker-Mobile-Graphic-1.png">
          </figcaption>
       </div>
        <a href="https://github.com/NathanBaldwin/clocker-mobile" target='_blank'>
          <img class='github-img' src="./lib/images/GitHub-Mark-120px-plus.png">
        </a>
        <a href="http://clocker-mobile.com" target="_blank">
          <img id='clocker-mobile-link' class='website-link-img link' src="./lib/images/Clocker-Mobile.com-path.svg">
        </a>
    </div>
  </li>
  <li class='item-container effect-bubba' ng-mouseover="showMovieBuffCaption()" ng-mouseleave="hideCaption()">
    <div class='outer'>
       <div id='third-item' class='inner'>
          <figcaption>
            <img id='movieBuffLogo' class='comingSoon' width='75%' src="./lib/images/MovieBuffLogo.png">
          </figcaption>
       </div>
        <a href="https://github.com/NathanBaldwin/moviebuff" target='_blank'>
          <img class='github-img' src="./lib/images/GitHub-Mark-120px-plus.png">
        </a>
        <a href="http://www.onlinemoviecollection.com" target="_blank">
          <img id='movieBuffLink' class='website-link-img link' src="./lib/images/MovieBuffLogo.svg">
        </a>
    </div>
  </li>
  <li class='item-container effect-bubba' ng-mouseover="showTaskMasterCaption()" ng-mouseleave="hideCaption()">
    <div class='outer'>
       <div id='fourth-item' class='inner'>
          <figcaption>
            <img id='taskMasterLogo' class='comingSoon' width='75%' src="./lib/images/taskMaster3.svg">
          </figcaption>
       </div>
        <a href="https://github.com/NathanBaldwin/angular-component-exercise" target="_blank">
          <img class='github-img' src="./lib/images/GitHub-Mark-120px-plus.png">
        </a>
        <a href="https://angular-component-app.herokuapp.com" target="_blank">
          <img class='website-link-img' src="./lib/images/taskMaster.com.svg">
        </a>
    </div>
  </li>
</ul>
  
