

<ul id="slideContainer" class="port-container">
  <li class="item-container clocker effect-bubba" ng-mouseover="showCaption()" ng-mouseleave="hideCaption()">
    <div class="outer" >
      <figcaption>
        <div class="center wrap">
          <div class="timer"></div>
        </div>
        <div class="row"></div>
          <img id="clocker-title" src="./lib/images/ClockerTitle-3.svg">
        </div>
      </figcaption>     
    </div>
    <p id="clocker-caption">Bubba likes to appear out of thin air.</p>
  </li>
<!-- test container: -->
  <li class='container'>
    <div class='outer'>
       <div class='inner'>test container
       </div>
    </div>
  </li>
 

  <li class="item-container">
    <img class="" src="./lib/images/IMG_0068.jpg">
  </li>
  <li class="item-container">
    <img class="" src="./lib/images/IMG_0472.jpg">
  </li>
  <li class="item-container">
    <img class="" src="./lib/images/IMG_0494.jpg">
  </li>
</ul>
<p>""</p>
<!-- <button ng-click="addClass()">add-class</button>
 -->
  
