<div class='port-caption'>
  <p> 
    Movie Buff was completed as a group project (team of 3) during my time at Nashville Software School. This app allows users to create an account, find movies (via the IMDB movie api), add movies to their own collection, search their movie collection, mark movies as 'watched', rate 'watched' movies on scale of 1-10, and filter 'watched' movies according to their rating.
  </p>
  <p>
    Built using JavaScript, jQuery, Require.js, Bootstrap, Firebase, Sass, Lodash, HTML5, and CSS3.
  </p>
  <p>
    Deployed via DigitalOcean using NGINX.
  </p>
  <p>
    Click the links above to test it out and/or view the GitHub README for a detailed description of how the app works.
  </p>
</div>
