
<!-- <h1>testing testing</h1> -->
<ul id="photography-portfolio-container">
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
          <img class="port-image" src="./lib/images/portfolio-photos/ada_IMG_0051.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/back-dock_IMG_3470.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/bryndis_head_0951.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/fire-IMG_0500.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/em-eric_IMG_9978.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/leaf_1214.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/night_IMG_0472.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/ada-gmaIMG_0068.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/portfolio-photos/porch_IMG_0494.jpg">
       </div>
    </div>
  </li>
</ul>
