<ul id="slideContainer-photography" class="port-container">
  <li class="portfolio-Item">
    <img class="port-image" src="./lib/images/IMG_0051.jpg">
  </li>
  <li class="portfolio-Item">
    <img class="port-image" src="./lib/images/IMG_0051.jpg">
  </li>
  <li class="portfolio-Item">
    <img class="port-image" src="./lib/images/IMG_0068.jpg">
  </li>
  <li class="portfolio-Item">
    <img class="port-image" src="./lib/images/IMG_0472.jpg">
  </li>
  <li class="portfolio-Item">
    <img class="port-image" src="./lib/images/IMG_0494.jpg">
  </li>
</ul>
