
<!-- <h1>testing testing</h1> -->
<ul id="photography-portfolio-container">
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
          <img class="port-image" src="./lib/images/IMG_0051.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/IMG_0051.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/IMG_0068.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/IMG_0472.jpg">
       </div>
    </div>
  </li>
  <li class='photo-item-container'>
    <div class='outer'>
       <div class='inner'>
        <img class="port-image" src="./lib/images/IMG_0494.jpg">
       </div>
    </div>
  </li>
</ul>
