<div class='port-caption'>
  <p> 
    I designed Task Master as an exercise to explore Angular's .component() method - a new feature available in Angular 1.5. Using components in place of directives is not only easier, but will make upgrading to Angular 2 an easier transition.
  </p>
  <p>
    Task Master is a twist on the good, ole 'To Do' app. It's designed to help you track a group's progress toward completing a given task. A teacher, for instance, may use it to track his/her class's progress on a project or evaluation.
  </p>
  <p>
    You can adjust each individual's status from 'Incomplete,' to 'In Progress,' and/or 'Done', as well as search for individuals by their full name, and add individuals to the master list (added in alphabetical order ;).
  </p>
  <p>
    Built using AngularJS, Javascript, HTML 5, CSS 3 (Flexbox for responsiveness), Sass, and Gulp.
  </p>
</div>
