#home {
  background-color: #292929;
  height: 840px; }

@font-face {
  font-family: titles;
  src: url(../lib/fonts/basictitlefont.ttf); }
@font-face {
  font-family: logoCursive;
  src: url(../lib/fonts/Notera_PersonalUseOnly.ttf); }
@font-face {
  font-family: cabin;
  src: url(../lib/fonts/Cabin-Regular.ttf); }
@font-face {
  font-family: shree;
  src: url(../lib/fonts/ShreeDev0714.ttf); }
@font-face {
  font-family: asenine;
  src: url(../lib/fonts/ASENINE_.ttf); }
h3 {
  font-family: titles;
  color: #E74C3C;
  cursor: pointer;
  text-align: center;
  font-size: 175%; }

p {
  font-family: shree;
  font-size: 1.3em; }

h2 {
  font-family: titles;
  font-size: 5.5em; }

#title-container {
  padding-top: 12%;
  padding-left: 8%;
  padding-right: 14%; }

#subtitles-container {
  margin-top: 3%;
  padding-left: 15%;
  padding-right: 10%; }

#about-me {
  font-family: logoCursive;
  padding-top: 20px;
  padding-left: 18%;
  padding-right: 20px;
  text-align: right;
  color: white;
  height: 840px;
  overflow: hidden;
  background-color: #E74C3C; }

#about {
  color: #292929; }

#me {
  color: #E74C3C; }

#about-me-title {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-family: logoCursive;
  overflow: hidden;
  height: 840px; }

#about-me-section > div > div > h1 {
  font-size: 6em;
  line-height: 0.8em; }

#tech-list {
  text-align: center;
  font-family: logoCursive;
  height: 420px; }

#tech-title {
  font-family: logoCursive;
  padding-top: 65px;
  text-align: center;
  color: white;
  height: 420px;
  width: 50%;
  background-color: #E74C3C; }

#portfolio {
  height: 4200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.pos-absolute-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#portfolio-header {
  cursor: pointer; }

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000; }

.port-container {
  width: 400%;
  /* to contain 4 panels, each with 100% of window width */
  height: 100%;
  top: 50%; }

.port-container li {
  float: left;
  margin-bottom: 0;
  position: relative;
  list-style: none;
  width: 10%;
  height: 50vh;
  text-align: center; }

.port-container li img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 95%; }

/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  background: #9e5406; }

figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-bubba:hover img {
  opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-bubba h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.home-popover {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding: 0 20px; }

.home-popover span {
  display: block;
  font-weight: 700; }

/*# sourceMappingURL=main.css.map */
