html, body {
  padding: 0px;
  margin-top: align;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow-x: hidden;
  margin: 0; }

h1 {
  margin: 5px 0px 10px; }

#home {
  background-color: #292929;
  height: 100vh;
  width: 100vw; }

@font-face {
  font-family: titles;
  src: url(../lib/fonts/basictitlefont.ttf); }
@font-face {
  font-family: logoCursive;
  src: url(../lib/fonts/Notera_PersonalUseOnly.ttf); }
@font-face {
  font-family: cabin;
  src: url(../lib/fonts/Cabin-Regular.ttf); }
@font-face {
  font-family: shree;
  src: url(../lib/fonts/ShreeDev0714.ttf); }
@font-face {
  font-family: asenine;
  src: url(../lib/fonts/ASENINE_.ttf); }
@font-face {
  font-family: adobeFans;
  src: url(../lib/fonts/AdobeFanHeitiStd-Bold.otf); }
h3 {
  font-family: titles;
  color: #E74C3C;
  cursor: pointer;
  text-align: center;
  font-size: 175%; }

p {
  font-family: shree;
  font-size: 1.3em; }

h2 {
  font-family: titles;
  font-size: 5.5em; }

html body div div.scrollmagic-pin-spacer {
  height: 100vh !important; }

#clear-nav {
  opacity: 0; }

.navbar-custom {
  background-color: transparent;
  border-color: transparent; }

.nav-option {
  cursor: pointer; }

div.site-nav ul.nav li.nav-option a {
  font-family: logoCursive;
  font-weight: bold;
  font-size: 1.6em;
  color: #E74C3C; }

.portfolio-title {
  margin-top: 0;
  padding-top: 30px;
  font-family: titles;
  text-align: center;
  font-weight: 900; }

.animate-switch.ng-animate {
  -webkit-transition: all .45s ease-in-out;
  -moz-transition: all .45s ease-in-out;
  -o-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out; }

.animate-switch.ng-leave {
  display: none;
  opacity: 1; }

.animate-switch.ng-leave.ng-leave-active {
  display: none;
  opacity: 0; }

.animate-switch.ng-enter {
  opacity: 0; }

.animate-switch.ng-enter.ng-enter-active {
  opacity: 1; }

#title-container {
  padding-top: 12%;
  padding-left: 8%;
  padding-right: 14%; }

#subtitles-container {
  margin-top: 3%;
  padding-left: 15%;
  padding-right: 10%;
  height: 100px; }

#putting {
  margin-top: 0px; }

#headshot {
  position: absolute;
  margin-left: -55px;
  margin-top: 500px;
  margin-bottom: 4px;
  z-index: 1000; }

#hidden-filler-div {
  float: right;
  clear: both;
  margin-left: 2px;
  margin-right: -63px;
  shape-outside: url("../lib/images/octagon_headshot-3-border.png");
  shape-margin: 3px;
  visibility: hidden; }

#headshot-hidden {
  position: absolute;
  margin-right: -55px;
  margin-top: 500px;
  margin-bottom: 4px; }

.about-container div.flex-col p {
  text-align: left; }

#about-me {
  font-family: logoCursive;
  padding-top: 20px;
  padding-left: 11%;
  padding-right: 11%;
  padding-bottom: 10px;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  background-color: #E74C3C;
  position: relative; }

.last-paragraph {
  margin-bottom: 15px; }

#about {
  color: #292929;
  text-align: right;
  margin-right: 5px;
  display: none; }

.spacer {
  margin-bottom: 15px;
  margin-top: 15px; }

#me {
  color: #E74C3C;
  display: none; }

#about-me-title {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-family: logoCursive;
  overflow: hidden;
  background-color: #FAFAFA; }

#about-me-section div div div h1 {
  font-size: 6em;
  line-height: 0.8em; }

#about-me-mobile-title {
  text-align: center;
  color: #292929;
  margin-bottom: 25px; }

#headshot-mobile {
  shape-outside: url("../lib/images/octagon_headshot-3-border.png");
  shape-margin: 11px;
  margin-right: 10px; }

.wrap-text {
  float: left; }

@media (max-width: 768px) {
  #bs-example-navbar-collapse-1 {
    background-color: white; }

  #about-me-title {
    height: 100vh;
    padding-left: 65px;
    padding-top: 55px; }

  #about-me-title h2 {
    line-height: 92px; }

  #headshot {
    display: none; }

  div.wrap.center.clock {
    width: 70px;
    height: 70px; } }
@media (max-width: 650px) {
  div.wrap.center.clock {
    display: none; }

  img#clocker-title {
    margin-top: 34%; }

  h2.portfolio-title {
    font-size: 3em; }

  div.port-caption p {
    font-size: 1.1em; }

  div #technologies div div div h4 {
    font-size: 70%; }

  #about-me-title {
    padding-left: 35px;
    padding-top: 33px; }

  #about-me-section div div div h1 {
    font-size: 5em; }

  div.about-container div p {
    font-size: 1.2em; }

  h1#connect-title {
    font-size: 3em; }

  a i.fa-5x {
    font-size: 4em; }

  a i.fa-4x {
    font-size: 3em; }

  img.comingSoon {
    margin-top: 20px;
    margin-left: 6px; } }
@media (min-width: 768px) {
  .about-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    position: relative; }

  .about-container div.flex-col {
    width: 50%; }

  .about-container div.flex-col p {
    text-align: right; }

  div #about {
    display: block; }

  #about-me-mobile-title {
    display: none; }

  #about-me {
    padding-top: 20px;
    padding-left: 16.7%;
    padding-right: 20px;
    padding-bottom: 10px; }

  .hidden-filler:before {
    content: '';
    display: block;
    float: right;
    height: 480px; }

  #headshot-mobile {
    display: none; }

  #me {
    display: block; } }
#portfolio {
  background-color: #F7F7F7;
  position: relative;
  z-index: 5;
  width: 100vw !important;
  margin: 0 !important; }

#header-wrapper {
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  margin-bottom: 10px; }

#portfolio-title {
  background-color: #292929;
  color: #E74C3C; }

#portfolio-header {
  cursor: pointer; }

#dev-portfolio-container {
  width: 150%;
  padding-left: 10px; }

.comingSoon {
  margin-top: 30px;
  margin-left: 6px; }

li.item-container {
  width: 18%;
  border-radius: 5px;
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  border: solid 1px #ddd; }

li.item-container div.outer {
  width: 100%;
  border-radius: 5px;
  padding-top: 75%; }

li.item-container div.outer div.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px; }

#pinContainer {
  border-bottom: solid 1px #999;
  padding-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000; }

.port-container {
  width: 400%;
  /* to contain 4 panels, each with 100% of window width */
  top: 50%; }

.port-container li img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 95%; }

.underline {
  text-decoration: underline; }

#clocker {
  background-color: #5B8623; }

#clocker-links {
  color: black; }

#clocker-title {
  width: 66%;
  margin-left: 17%; }

#clocker-mobile-title {
  width: 82%;
  margin-left: 10%;
  margin-top: 11%; }

li.item-container#clocker-mobile {
  border: none; }

#next-item {
  font-family: Helvetica;
  font-weight: 100; }

#clocker-mobile-link {
  width: 77%;
  left: 12%; }

#third-item {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  font-family: Helvetica;
  font-weight: 100; }

#movieBuffLogo {
  margin-left: 12%;
  margin-top: 14%; }

#movieBuffLink {
  width: 90%;
  left: 20%; }

#fourth-item {
  background-color: orange;
  font-family: Helvetica;
  font-weight: 100; }

li.photo-item-container {
  width: 10.2%;
  border-radius: 5px;
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 5px; }

#photography-portfolio-container {
  width: 500%;
  /* to contain 4 panels, each with 100% of window width */
  height: 100%; }

#photography-portfolio-container li div div img {
  bottom: 0;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  width: 95%; }

.portfolio-Item {
  height: 800px;
  width: 16%;
  /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  background-color: green;
  text-align: center; }

.port-image {
  display: inline-block;
  margin: auto auto; }

/*---------------*/
/***** Bubba *****/
/*---------------*/
li.effect-bubba figcaption::before,
li.effect-bubba figcaption::after {
  position: absolute;
  top: 3%;
  right: 3%;
  bottom: 3%;
  left: 3%;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

li.effect-bubba figcaption::before {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 5px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

li.effect-bubba figcaption::after {
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-radius: 5px;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  opacity: 0; }

li.effect-bubba h3, li.effect-bubba div.clock, li.effect-bubba img {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

li.effect-bubba p {
  opacity: 0;
  padding-left: 19%;
  padding-right: 19%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

li.effect-bubba a img.github-img {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  left: 40%;
  bottom: 26%;
  width: 20%;
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

li.effect-bubba a img.website-link-img {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  top: 27%;
  right: 15%;
  width: 60%;
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

li.effect-bubba:hover figcaption::before,
li.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

li.effect-bubba:hover div.outer div.inner {
  opacity: 0.4; }

li.effect-bubba:hover div a img.github-img {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

li.effect-bubba:hover div a img.website-link-img {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

li.effect-bubba:hover h3,
li.effect-bubba:hover div.clock,
li.effect-bubba:hover figcaption img,
li.effect-bubba:hover img.link,
li.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pos-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#height {
  height: 100vh; }

#caption-view {
  height: 100%; }

#caption {
  display: inline-block; }

.port-caption {
  display: inline-block;
  vertical-align: middle;
  font-family: shree;
  font-size: 88%; }

.fade-in {
  opacity: 1;
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all; }

.view-margin {
  margin-top: 20px;
  position: absolute;
  left: 0;
  right: 0; }

[ui-view="caption"].ng-enter, [ui-view="caption"].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

[ui-view="caption"].ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  -moz-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

[ui-view="caption"].ng-enter-active {
  opacity: 1;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

[ui-view="caption"].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

[ui-view="caption"].ng-leave-active {
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  -moz-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  width: 90px;
  height: 90px; }

.center {
  margin: auto;
  position: relative;
  top: 20;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 14%; }

.timer {
  width: 90%;
  height: 90%;
  background-color: transparent;
  border: 6px solid #fff;
  border-radius: 50%;
  position: relative;
  margin: auto; }

.timer:after, .timer:before {
  position: absolute;
  content: "";
  background-color: #fff; }

.timer:after {
  width: 40%;
  height: 7px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 4px 4px;
  -moz-transform-origin: 4px 4px;
  transform-origin: 4px 4px;
  -webkit-animation: minhand 2s linear infinite;
  -moz-animation: minhand 2s linear infinite;
  animation: minhand 2s linear infinite; }

.timer:before {
  width: 20%;
  height: 7px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 4px 4px;
  -moz-transform-origin: 4px 4px;
  transform-origin: 4px 4px;
  -webkit-animation: hrhand 8s linear infinite;
  -moz-animation: hrhand 8s linear infinite;
  animation: hrhand 8s linear infinite; }

@-webkit-keyframes minhand {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes minhand {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes minhand {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes hrhand {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes hrhand {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes hrhand {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#tech-used-title {
  width: 33%;
  margin-left: 1%;
  vertical-align: top;
  margin-top: 7px; }

#technologies {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
  z-index: 5; }

#technologies div div div img {
  margin-bottom: 0px; }

.thumbnail {
  border: none;
  width: 98%; }

#technologies div div div.container {
  margin-left: 1%;
  margin-bottom: 5px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  width: 10%;
  margin-bottom: 1.5%; }

#technologies div div.row {
  text-align: center; }

#technologies div div div.outer {
  padding-top: 117%;
  position: relative;
  text-align: center;
  width: 100%; }

#chai {
  width: 92%;
  margin-left: 4%; }

#technologies div div div div.inner {
  margin: auto;
  width: 98%;
  height: 85%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
  width: 100%; }

#technologies div div div h4 {
  font-family: Helvetica;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  position: absolute;
  top: 96%; }

.tech-logo {
  width: 75%; }

.home-popover {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding: 0 20px; }

.home-popover span {
  display: block;
  font-weight: 700; }

#contact-hidden {
  visibility: hidden;
  padding-top: 8%;
  padding-bottom: 9%;
  width: 100%; }

.negative-z {
  z-index: -1; }

.negative-z-2 {
  z-index: -2; }

#contact {
  background-color: #292929;
  padding-top: 8%;
  padding-bottom: 9%;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0; }

.contact-container {
  text-align: center;
  display: inline-block;
  margin: 0 auto; }

#collaborate {
  width: 68%;
  margin-bottom: 25px; }

#connect-title {
  color: #FFFFFF;
  font-family: titles;
  display: inline;
  padding-top: 15px;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  font-size: 7em;
  margin-top: 15px;
  margin-bottom: 0px; }

i {
  color: black; }

i:hover {
  color: #E74C3C;
  opacity: 0.6; }

.icons {
  margin-top: 10px; }

.left {
  float: left; }

.right {
  float: right; }

.email {
  font-family: shree;
  color: #E74C3C; }

/*# sourceMappingURL=main.css.map */
